<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errMessage) { %>
            <div class="user-message user-message--error"><%= errMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <div class="input "><input type="email" name="email" id="email"><i class="fas fa-times-circle email-fail"></i><i class="fas fa-check-circle email-pass"></i></div>
            </div>
            <div class="form-control">
                <label for="firstName">First Name</label>
                <div class="input "><input type="text" name="firstName" id="firstName"><i class="fas fa-times-circle "></i><i class="fas fa-check-circle "></i></div>
            </div>
            <div class="form-control">
                <label for="lastName">Last Name</label>
                <div class="input "><input type="text" name="lastName" id="lastName"><i class="fas fa-times-circle "></i><i class="fas fa-check-circle "></i></div>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <div class="input "><input type="password" name="password" id="password" class="password"><i class="far fa-eye-slash togglePassword" onclick="togglePassword(this)"></i><i class="fas fa-times-circle password-fail"></i><i class="fas fa-check-circle password-pass"></i></div>
                
                <p>Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</p>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input "><input type="password" name="confirmPassword" id="confirmPassword" class="password"><i class="far fa-eye-slash togglePassword" onclick="togglePassword(this)"></i><i class="fas fa-times-circle confirmPassword-fail"></i><i class="fas fa-check-circle confirmPassword-pass"></i></div>
                
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>