<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/plant.css" />
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>Admin Dashboard</h1>
    <% if (successMessage) { %>
        <div class="user-message user-message--success"><%= successMessage %></div>
    <% } %>
    <% if (plants.length > 0) { %>

        <div class="grid">
            <% for (let plant of plants) { %>
                <article class="card plant-item">
                    <header class="card__header">
                        <h1 class="plant__title">
                            <%= plant.name %>
                        </h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= plant.imageUrl %>" alt="<%= plant.title %>">
                    </div>
                    <div class="card__content">

                        <p class="plant__description">
                            <%= plant.description %>
                        </p>
                    </div>
                    <div class="card__actions">
                      <a href="/admin/edit-plant/<%= plant._id %>?edit=true" class="btn"
                        >Edit</a
                      >
                        <%- include('../includes/delete-plant.ejs', {plant: plant, action: "/admin/delete-plant"}) %>
                    </div>
                </article>
                <% } %>
        </div>
    <% } else { %>
    <h1>No plants Found!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
