<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/plant.css" />
<h1>Hello from the admin dashboard</h1>
<body>
  <main>
    <% if (plants.length > 0) { %>

    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Edit</th>
      </tr>
      <% for (let plant of plants) { %>
      <tr>
        <td><h1 class="plant__title"><%= plant.name %></h1></td>

        <td><p class="plant__description"><%= plant.description %></p></td>
        <td><img src="<%= plant.imageUrl %>" alt="<%= plant.name %>" /></td>
        <td>
          <a href="/admin/edit-plant/<%= plant.id %>?edit=true" class="btn"
            >Edit</a
          >
          <form action="/admin/delete-plant" method="POST">
            <input type="hidden" value="<%= plant.id %>" name="plantId" />
            <button class="btn" type="submit">Delete</button>
          </form>
        </td>
      </tr>

      <% } %>
    </table>
    <% } else { %>
    <h1>No plants Found!</h1>
    <% } %>
  </main>
</body>
