<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/plant.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (successMessage) { %>
      <div class="user-message user-message--success"><%= successMessage %></div>
  <% } %>
    <form class="plant-form" action="/admin/<% if (editing) { %>edit-plant<% } else { %>add-plant<% } %>" method="POST">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<% if (editing) { %><%= plant.name %><% } %>" />
      </div>

      <div class="form-control">
        <label for="image">Image URL</label>
        <input type="text" name="image" id="image" value="<% if (editing) { %><%= plant.image %><% } %>" />
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5">
        <% if (editing) { %><%= plant.description %><% } %></textarea
        >
      </div>

      <fieldset>
        <label class="" for="light">Light</label>
        <input type="checkbox" name="light" value="low" id='low'<% if (editing) { %><%= plant.light.includes('low') ?
        'checked' : '' %><% } %>>
        <label class="" for="low">Low</label>
        <input type="checkbox" name="light" value="medium" id='medium' <% if (editing) { %><%= plant.light.includes('medium')
        ? 'checked' : '' %><% } %>>
        <label class="" for="medium">Medium</label> 
        <input type="checkbox" name="light" value="bright" id='bright'<% if (editing) { %><%=plant.light.includes('bright') ? 'checked' : '' %><% } %>>
        <label class="" for="bright">Bright</label>
      </fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label" for="difficulty">Difficulty</label>
        <div class="col-md-8">
          <select class="form-control" id="experience" name="difficulty">
            <option value="" >Select a filter</option>
            <option value="easy" <% if (editing) { %><%= plant.difficulty === 'easy' ? 'selected' : '' %><% } %>>Easy</option>
            <option value="medium" <% if (editing) { %><%= plant.difficulty === 'medium' ? 'selected' : '' %><% } %>>Medium</option>
            <option value="advanced" <% if (editing) { %><%= plant.difficulty === 'advanced' ? 'selected' : '' %><% } %>>Advanced</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="pets">Pets</label>
        <div class="col-md-8">
          <select class="form-control" id="pets" name="pets">
            <option value="">Select a filter</option>
            <option value="true" <% if (editing) { %><%= plant.petSafe ? 'selected' : ''%><% } %>>Yes</option>
            <option value="false" <% if (editing) { %><%= !plant.petSafe ? 'selected' : ''%><% } %>>No</option>
          </select>
        </div>
      </div>
      <% if (editing) { %>
      <input type="hidden" value="<%= plant._id %>" name="plantId" />
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn" type="submit"><% if (editing) { %>Update plant<% } else { %>Add plant<% } %></button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
