<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <div class="main-header__logo">
    <img src="/images/logo-nav-green.png" alt="" />
  </div>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" val="Home" href="/"
          >Home</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/plants' ? 'active' : '' %>"
          val="Plants"
          href="/plants"
          >Plants</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/search' ? 'active' : '' %>"
          val="Search"
          href="/search"
          >Search</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/user-plants' ? 'active' : '' %>"
          href="/user-plants"
          val="My Plants"
          >My Plants</a
        >
      </li>
      <% if(path === '/admin') {%>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/edit-plant' ? 'active' : '' %>"
          href="/admin/edit-plant"
          val="Add Plant"
          >Add Plant
        </a>
      </li>
      <% } %> <% if(isAdmin) {%>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin' ? 'active' : '' %>"
          href="/admin"
          val="Admin Dashboard"
          >Admin Dashboard
        </a>
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a
          class="<%= path === '/login' ? 'active' : '' %>"
          href="/login"
          val="Login"
          >Login</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/signup' ? 'active' : '' %>"
          href="/signup"
          val="Sign Up"
          id='Sign Up'
          >Sign Up</a
        >
      </li>
      <% } else { %>
      <li class="main-header__item">
        <a
          class="<%= path === '/profile' ? 'active' : '' %>"
          href="/profile"
          val="Profile"
          >Profile</a
        >

      </li>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button val="Logout" type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/plants' ? 'active' : '' %>" href="/plants"
        >Plants</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/search' ? 'active' : '' %>" href="/search"
        >Search</a
      >
    </li>
    <% if (isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/user-plants' ? 'active' : '' %>"
        href="/user-plants"
        >My Plants</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
        >Add Plant
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/products' ? 'active' : '' %>"
        href="/admin/products"
        >Admin Products
      </a>
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >Sign Up</a
      >
    </li>
    <% } else { %>
      
      <li class="mobile-nav__item">
        <a
          class="<%= path === '/profile' ? 'active' : '' %>"
          href="/profile"
          >Profile</a
        >

      </li>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
<div class="backdrop-loader"><div class="loader">Loading...</div></div>

