<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/search-bar.css" />

</head>
<body>
  <main>
    <% if (successMessage) { %>
      <div id="overlay">
         <div class="alert__card card">
        <p class="message"><%= successMessage %></p>
        <div class="alert__actions">
          <button class="btn secondary__btn action__btn" type="button" onclick="removeOverlay()">OK</button>
        </div>
      </div>
      </div>
      <% } %> <% if (errorMessage) { %>
        <div id="overlay">
          <div class="alert__card card">
         <p class="message"><%= errorMessage %></p>
         <div class="alert__actions">
           <button class="btn primary__btn action__btn" type="button" onclick="removeOverlay()">OK</button>
         </div>
       </div>
       </div>
      <% } %>
    <div class="home">
      <div class="wrapper">
        <%- include('../includes/header.ejs') %>
        <div class="search">
          <div class="title">
            <span>Become a Plant Parent</span>
          </div>
          <div class="subtitle">
            <span>There's a right plant for everyone!</span>
          </div>
          <%- include('../includes/search-bar.ejs') %>
        </div>
      </div>
    </div>
    <%- include('../includes/subscribe.ejs') %>
  </main>
  <%- include('../includes/footer.ejs') %>
   <%- include('../includes/end.ejs') %>
</body>
