<%- include('../includes/head.ejs') %>
<!-- <link rel="stylesheet" href="/css/plant.css" /> -->
<link rel="stylesheet" href="/css/profile.css" />
<link rel="stylesheet" href="/css/search-bar.css" />
<link rel="stylesheet" href="/styles/css/search.css" />
</head>
<body>
  <main>
    <div class="home">
      <div class="wrapper">
        <%- include('../includes/header.ejs') %>
        <div class="search">
          <div class="title">
            <span>Become a Plant Parent</span>
          </div>
          <div class="subtitle">
            <span>There's a right plant for everyone!</span>
          </div>
          <%- include('../includes/search-bar.ejs') %>
        </div>
      </div>
    </div>
  </main>
  <%- include('../includes/subscribe-footer.ejs') %> <%- include('../includes/end.ejs') %>
</body>
