<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/plant.css" />
<link rel="stylesheet" href="/css/search.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    
    <div class="container container-row">
      <div class="search-panel">
        <h1>Search</h1>
        <form
          class="form-horizontal"
          id="plantSearchForm"
          action="/search"
          method="POST"
          role="form"
        >
          <label class="label" for="light">Difficulty</label>
          <fieldset>
            <input type="checkbox" name="difficulty" value="easy" id="easy" <%=
            oldInput.easy %> />
            <label class="" for="easy">Easy</label>

            <input type="checkbox" name="difficulty" value="medium" id="medium"
            <%= oldInput.medium %>/>
            <label class="" for="medium">Medium</label>

            <input type="checkbox" name="difficulty" value="advanced"
            id="advanced" <%= oldInput.advanced %>/>
            <label class="" for="advanced">Advanced</label>
          </fieldset>

          <label class="label" for="light">Light</label>
          <fieldset>
            <input type="checkbox" name="light" value="low" id="low" <%=
            oldInput.lowLight %>/>
            <label class="" for="low">Low</label>

            <input type="checkbox" name="light" value="medium" id="medium" <%=
            oldInput.mediumLight %>/>
            <label class="" for="medium">Medium</label>

            <input type="checkbox" name="light" value="bright" id="bright" <%=
            oldInput.brightLight %>/>
            <label class="" for="bright">Bright</label>
          </fieldset>

          <div class="form-group">
            <label class="label" for="pets">Pets</label>
            <div class="">
              <input type="checkbox" name="petSafe" value="true" id="pet" <%=
              oldInput.petSafe === true ? 'checked' : '' %>/>
              <label class="" for="petSafe">Pet Friendly</label>
            </div>
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="btn" type="submit">Submit</button>
        </form>
      </div>

      
        <% if (plants.length > 0) { %><div class="grid"> <% for (let plant of plants) { %>
        <article class="card plant-item">
          <header class="card__header">
            <h1 class="plant__title"><%= plant.name %></h1>
          </header>
          <div class="card__image">
            <img src="<%= plant.image %>" alt="<%= plant.title %>" />
          </div>
          <div class="card__content">
            <p class="plant__description"><%= plant.description %></p>
          </div>
          <div class="card__actions">
            <%- include('../includes/add-to-user-plants.ejs', {plant: plant}) %>
          </div>
        </article>
        <% } %> </div><% } else { %>
          
          <div class="container-image">
            <% if (errMessage) { %>
            <div class="user-message user-message--error"><%= errMessage %></div>
            <% } else{ %>
            <img class="search-image"src="/images/shelf.png" alt="">
            <% } %>  
          </div>
          
        <% } %>  
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
