<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/plant.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>My Plants</h1>
    <% if (plants.length > 0) { %>

    <div class="grid">
      <% for (let p of plants) { %>
      <article class="card plant-item">
        <header class="card__header">
          <h1 class="plant__title"><%= p.plant.name %></h1>
        </header>
        <div class="card__image">
          <img src="/images/plants/<%= p.plant.image %>" alt="<%= p.plant.title %>" />
        </div>
        <div class="card__content">
          <div class="row">
            <p class="label">Difficulty:</p>
            <p class="value"><%= p.plant.difficulty %></p>
          </div>
          <div class="row">
            <p class="label">Light:</p>
            <div class="value">
              <% if(p.plant.light.includes('low')) { %> <i title="low" class="fas fa-cloud"></i>
              <p>low</p>
              <% } %> <% if(p.plant.light.includes('medium')) { %> <i title="medium" class="fas fa-cloud-sun"></i>
              <p>medium</p>
              <% } %> <% if(p.plant.light.includes('bright')) { %> <i title="bright" class="fas fa-sun"></i>
              <p>bright</p>
              <% } %>
            </div>
          </div>
          <div class="row">
            <p class="label">Pet-Safe:</p>
            <p class="value"><%= p.plant.petSafe ? "Yes" : "No"%></p>
          </div>
        </div>
        <div class="card__actions">
          <a href="/plants/<%= p.plant._id %>" class="btn">Details</a>
          <%- include('../includes/delete-plant.ejs', {plant: p.plant, action: "/delete-from-plant-list"}) %>
        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No plants Found!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>

