<%- include('../includes/head.ejs') %>

</head>
<body>
  <main>
    <div class="wrapper">
      <%- include('../includes/header.ejs') %> <% if (plants.length > 0) { %>
      <div class="grid">
        <% for (let item of plants) { %> <%- include('../includes/plant-card.ejs', {plant: item.plant, showAddBtn:
        false, showWishListBtn: false}) %> <% } %>
      </div>
      <% } %>
    </div>
  </main>
  <%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
</body>
