<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/plant.css" />
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>My Plants</h1>
    <% if (plants.length > 0) { %>

        <div class="grid">
            <% for (let p of plants) { %>
                <article class="card plant-item">
                    <header class="card__header">
                        <h1 class="plant__title">
                            <%= p.plant.name %>
                        </h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= p.plant.image %>" alt="<%= p.plant.title %>">
                    </div>
                    <div class="card__content">

                        <p class="plant__description">
                            <%= p.plant.description %>
                        </p>
                    </div>
                    <div class="card__actions">
                        
                        <%- include('../includes/delete-plant.ejs', {plant: p.plant, action: "/delete-from-plant-list"}) %>
                    </div>
                </article>
                <% } %>
        </div>
    <% } else { %>
    <h1>No plants Found!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
